@charset "utf-8";
header.row h1 {
	color: #FFFFFF;
	font-family: Rockwell;
	font-size: 800%;
	text-align: center;
}
header.row img {
	margin: 0px auto;
	display: block;

}
footer.row p {
	padding-top: 6px;
	padding-bottom: 0px;
}


nav.row .navbar.navbar-default {
	border-top-width: 4px;
	border-bottom-width: 4px;
	background-color: transparent;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #FFFFFF;
	margin: 0px auto;
	width: auto;
	float: none;
	padding-bottom: 0px;
	height: auto;


}
div.row {
	height: 25px;
}

.container .row .col-sm-12 {
}
section.row {
	background-color: #878787;
}
section.row .col-sm-12 img {
	margin: 0 auto;
	display: block;
}
.row .col-sm-4 img {
	padding-top: 20px;
}

.col-md-5 .col-sm-12 .img-responsive {
	padding-bottom: 20px;
}
section.row p .img-responsive {
	margin: 0 auto;
	display: block;
	padding-bottom: 20px;
}
section.row .col-md-3 .img-responsive {
	margin: 0 auto;
	display: block;
}




section.row h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	padding-bottom: 20px;
}


section.row .col-sm-4 img {
	float: right;
}
section.row .col-md-4 .img-responsive {
	margin: 0 auto;
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
}





nav.row .nav.navbar-nav li a   {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	font-size: 14pt;
}
nav.row .nav.navbar-nav > li > a:link  ,nav.row .nav.navbar-nav > li >a:visited  {
	color: #037
	font-weight: bold;
}
nav.row .nav.navbar-nav li a:hover  {
	background-color: #272727;
	text-shadow: 1px 1px #9B9B9B;
}
nav.row .nav.navbar-nav li a:visited  {
	text-decoration: underline;
	width: auto;

}
nav.row .nav.navbar-nav {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	width: 750px;
	float: none;
	margin-top: 0px;
	vertical-align: middle;
}
section.row blockquote {
	padding: 0px;
	border: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 50px;
}
section.row blockquote p {
	padding: 0px 10px;
	margin: 0px 0px 5px 0px;
	text-indent: -0.5em;
}

section.row blockquote cite {
	padding: 0px 10px;
	display: block;
	font-style: italic;
	text-align: left;
}
section.row h6 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 15pt;
	text-align: right;
}


footer {
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}
.flt_lft {
}
section.row h4 {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}
section.row h5 {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	font-weight: normal;
	line-height: 15pt;
}
section.row h3 {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: normal;
	font-size: 12pt;
	line-height: 18pt;
	padding-right: 20px;
	text-align: left;
}

.row .col-md-7 h2 {
	text-align: left;
}
.col-sm-12 p .img-responsive.flt_lft {
	padding-bottom: 20px;
}
section.row p {
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 12pt;
	line-height: 18pt;
	padding-left: 15px;
	padding-right: 15px;
}
