@charset "utf-8";
header.row h1 {
	color: #BEBCEF;
	font-family: bangers, "Eras Bold ITC", "Maiandra GD", "MV Boli", "Segoe Script", "Tekton Pro Ext";
	font-weight: 400;
	font-size: 1100%;
	text-align: center;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.40);
	text-decoration: none;
	letter-spacing: 10px;
	font-style: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
header.row p {
	color: #BEBCEF;
	font-family: allan, "Eras Bold ITC", "Maiandra GD", "MV Boli", "Segoe Script", "Tekton Pro Ext";
	font-weight: 700;
	font-size: 200%;
	text-align: center;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.40);
	letter-spacing: normal;
	font-style: normal;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
article.row h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	color: #037;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 600;
}

nav.row .navbar.navbar-default {
	background-color: #BEBCEF;
	background-image: -webkit-linear-gradient(270deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
}

header.row {
	padding: 10px 0px;
	background-image: url(Images/background-14773_960_720.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
nav.row .nav.navbar-nav > li > a:link  ,nav.row .nav.navbar-nav > li >a:visited  {
	border-color: #056E98 #037 #037 #056E98;
	color: #037;
	font-weight: bold;
}
nav.row .nav.navbar-nav > li > a:hover {
	background-image: -webkit-linear-gradient(90deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -moz-linear-gradient(90deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -o-linear-gradient(90deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: linear-gradient(0deg,rgba(190,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	color: #FFF;
}
nav.row .nav.navbar-nav {
	margin: 0px auto;
	width: 715px;
	float: none;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
}
nav.row .navbar {
	margin-bottom: 0px;
}
article.row section h2 {
	color: #037;
	font-family: allan, "Eras Bold ITC", "Maiandra GD", "MV Boli", "Segoe Script", "Tekton Pro Ext";
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 300%;
}
article.row section img {
	text-align: center;


}
article.row section blockquote {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
article.row section blockquote p {
	padding: 0px .5em;
	margin: 0px 0px 5px 0px;
	text-indent: -0.5em;
	color: #037;
}
article.row section blockquote cite {
	padding: 0px 10px;
	display: block;
	font-style: italic;
	text-align: right;
	color: #037;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: 200;
}
body {
	background-color: #001A33;
}
footer {
	padding: 1em 0px;
	background-color: #BEBCEF;
	background-image: -webkit-repeating-linear-gradient(90deg,rgba(188,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -moz-repeating-linear-gradient(90deg,rgba(188,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: -o-repeating-linear-gradient(90deg,rgba(188,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	background-image: repeating-linear-gradient(0deg,rgba(188,188,239,1.00) 0%,rgba(147,147,183,1.00) 100%);
	color: #FFF;
}
body {
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}
article.row blockquote {
	border: none;
	font-size: 100%;
}
div.row p{
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 300;
	color: #003377;
	font-variant: normal;
	font-size: large;
	line-height: 120%;
	margin-left: 20px;
	margin-right: 20px;
}
article.row p {
	color: #037;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.col-md-4 a .img-responsive {
	margin-bottom: 50px;
}
.row .col-md-4 a {

}


div.row p {
	color: #037;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	left: 0px;
}

.flt_rgt {
	float: right;
	margin-left: 10px;
}
.flt_lft {
	float: left;
	margin-right: 10px;
}
header h1 a:link, header h1 a:visited {
	color: inherit;
	text-decoration: none;
}
article.row h2 a:link, article.row h2 a:visited {
	color: inherit;
	text-decoration: none;
}
